services:
  api:
    ports:
      - "3000:3000"
    networks:
      - default
    labels:
      traefik.enable: "false"

  web:
    ports:
      - "3001:80"
    networks:
      - default
    labels:
      traefik.enable: "false"

networks:
  traefik_network:
    external: false
